@import './colors.less';
@import './time.less';
@import './dimensions.less';

footer {
  grid-area: footer;

  a {
    color: inherit;
    text-decoration: none;
    border-bottom: none;
  }

  > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'about contact'
      'about contact'
      'about contact'
      'copyright copyright';
    max-width: @dimension-max-content-width;
    margin: 0 auto;
    padding: 1.5em 0;
    width: 100%;
    text-align: center;
  }
}

footer .about {
  grid-area: about;
  align-self: center;
}

footer .contact {
  grid-area: contact;
  align-self: center;
  text-align: left;
  margin: 0 auto;
}

footer .copyright {
  grid-area: copyright;
  border-right: 1px solid @color-border;
  margin: 0;
  padding: 0;
  color: @color-text-medium;
  margin-top: 1.5em;
  text-align: center;
  font-size: .9em;

  li {
    display: inline-block;
    border-left: solid 1px @color-border;
    padding: 0 1em;
    margin: 0;

    &:first-child {
      border-left: none;
    }
  }
}

footer .social-link {
  display: block;
  margin: .25em 0;

  img {
    height: 1.5em;
    opacity: .3;
    filter: grayscale(100%);
    vertical-align: bottom;
    transition: opacity @time-defalut-transition ease-in-out;
    margin-right: .5em;
  }

  &:hover img {
    opacity: .6;
  }
}
